<div class="container-fluid d-flex justify-content-center align-items-center  min-vh-100">
    <div class="row border rounded-3 bg-white shadow box-area">

        <div class="col-md-5 my-2 mx-2 rounded-3 d-flex justify-content-center align-items-center flex-column " style="background-color: #8e4cf8;">
            <div class="featured-image my-3">
                <img src="./assets/images/register.svg" class="img-fluid rounded-4" alt="no img" style="width: 450px;">
            </div>
            <!-- <p class="text-white fs-5 para">Welcome to Vendever</p> -->
        </div>

        <div class="col-md-5 mx-2 my-2">
            <p class="fs-4 para"><b>Welcome to Vendever</b></p>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-bounding-box"></i></span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName="username">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
                    <input type="password" class="form-control" placeholder="password" aria-label="Password" aria-describedby="basic-addon1" formControlName="password">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                    <input type="text" class="form-control" placeholder="Email-ID" aria-label="Email-ID" aria-describedby="basic-addon1" formControlName="email">
                </div>
                <button type="submit" class="btn bg-warning col-12 mx-auto">Register</button>
            </form>
            <hr>
            <div class="row">
                <div class="col-12 text-center px-3">
                    <button class="btn btn-lg"><i class="bi bi-google"></i></button>
                    <button class="btn btn-lg"><i class="bi bi-facebook"></i></button>
                    <button class="btn btn-lg"><i class="bi bi-twitter-x"></i></button>
                </div> 
            </div>
            <div class="row mt-2">
                <div class="col-md-12 text-center">
                    <p>Already have account? <a routerLink="/login">Login</a></p>
                </div>
            </div>
        </div>

    </div>
</div>

<router-outlet></router-outlet>